.jumbotron{
    padding-top: 5rem;
    background-color: #19cffd;
}

#Galery{
background-color: #c1e4dd;
}
#Contac{
    background-color: #0eceeb;
    }
section{
    padding-top: 5rem;
}
